name: CI Pipeline

on:
  push:
    branches: [ main ]


jobs:
    build:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout code
            uses: actions/checkout@v5

          - name: Setup Nodejs
            uses: actions/setup-node@v3
            with:
                node-version: 18

          - name: Installing Dependencies
            uses: npm install

          - name: Run Test
            uses: npm test

